body {
    background-color: rgb(245, 240, 231);
}

.nav-link {
    color: rgb(236, 72, 31);
}

.nav-link:hover {
    color: #6c757d;
}

#logo {
    color: rgb(236, 72, 31);
    padding-left: 20px;
    font-size: 1.8rem;
    font-family: Bungee Shade, sans-serif;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}



p.text-end.m-3 {
    font-size: .7rem;
}

.navbar-toggler {
    border: none;
    background: transparent;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    outline: none !important;
    box-shadow: none !important;
}

/* -----------------------Styling each of the burger icon lines */
.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:rgb(236, 72, 31) ;
    border-radius: 0px;
    border-color: transparent;
    transition: transform 0.25s ease-in-out;
}

/* ---------------------------------Positioning the burger icon lines */
.top-bar {
    top: 0px;
}

.middle-bar {
    top: 50%;
    transform: translateY(-50%);
}

.bottom-bar {
    bottom: 0px;
}

/*---------- Hover effect: Change the color when hovering over the navbar-toggler */
.navbar-toggler:hover .top-bar,
.navbar-toggler:hover .middle-bar,
.navbar-toggler:hover .bottom-bar {
    background-color: #7A1CAC;
}

/* -----------------------------------------Toggler animation when collapsed */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(135deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 0;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(-135deg);
}

hr{
color: #E84610;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #fffdf2;
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    font-size: 1.5rem;
}


.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: vh;
    width: 100%;
}

.masthead-text {
    background-color: #fffdf2;
    color: #445261;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #fffdf2;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover {
    color: #E84610;
    
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #6c757d;
}


.btn-signup,
.btn-edit {
    background-color: #6c757d;
    color: #fffdf2;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: transparent;
    color: #E84610;
}

.link {
    background-color: transparent;
    color: #E84610;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #fffdf2;
    border: none;
    background: #E84610;
}



.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.page-link {
    color: #E84610;
    background: transparent;
    border: none;
}

.page-link:hover,
.page-link:active {
    color: #fffdf2;
    border: none;
    background: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

span.mr-3 {
    color: #6c757d;
}

.footer {
    background-color:#E84610;
    opacity: 90%;
}

.social-icons {
    color: #fffdf2;
}