{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.location }} </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if post.image %}
                <img class="card-img-top" src="{% static 'images/sand.jpeg' %}" alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text"></p> {{ post.content | safe }}
            </div>
        </div>
    </div>

    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>


    <!-- Displaying Likes -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-thumbs-up"></i> {{ like_count }} Likes
            </strong>
        </div>
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="like" class="btn-like btn">
                    {% if user.is_authenticated %}
                    {% if request.user in post.likes.all %}
                    Unlike
                    {% else %}
                    Like
                    {% endif %}
                    {% else %}
                    Log in to like this post
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 comments
                    {% if not comment.approved and comment.author == user %}
                    faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-edit" type="button" data-comment-id="{{ comment.id }}" data-alt="edit button"
                        data-slug="{{ post.slug }}">Edit</button>
                    <button class="btn btn-like" type="button" data-alt="Delete button"
                        onclick="window.location.href='{% url 'comment_delete' slug=post.slug comment_id=comment.id %}'">Delete</button>

                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Creating/Editing Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <form id="commentForm" method="post">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-signup btn-md">
                        {% if comment_form.instance.pk %}
                        Update
                        {% else %}
                        Submit
                        {% endif %}
                    </button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}